
/* Estilos del footer */
footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright {
    font-size: 12px;
    margin: 0;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    line-height: 1.2;
}

.footer-social {
    margin-top: 10px;
    text-align: right;
}

.footer-social img {
    margin-left: 10px;
}